{% load static %}{% include "variables/new_css.html" %}

<div class="account-page">
  <div class="container-fluid p-0">
    <div class="row align-items-center g-0 px-3 py-3 vh-100">
      <div class="col-xl-5">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="mb-0 p-0 p-lg-3">
                  <div class="mb-0 border-0 p-md-4 p-lg-0">
                    <div class="mb-3 p-0 text-center">
                      <div class="auth-brand">
                        <a class="logo logo-light" href="/dusty/html/">
                          <span class="logo-lg">
                            <img
                              src="{% static 'lib/images/logo-light-01.png'%}"
                              alt=""
                              height="24"
                            />
                          </span>
                        </a>
                        <a class="logo logo-dark" href="/dusty/html/">
                          <span class="logo-lg">
                            <img
                              src="{% static 'lib/images/logo-light-01.png'%}"
                              alt=""
                              height="24"
                            />
                          </span>
                        </a>
                      </div>
                    </div>

                    <div class="auth-title-section mb-4 text-center">
                      <h3 class="text-primary fw-semibold mb-1">
                        Reset password
                      </h3>
                      <p class="text-muted fs-14 mb-0">
                        Enter your registered email to reset your password.
                      </p>
                    </div>
                    {% if form.errors %}
                    <div
                      class="alert alert-danger alert-dismissible"
                      role="alert"
                    >
                      <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                      </div>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}
                    <div class="pt-0">
                      <form method="POST" class="my-4">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                          <label for="emailaddress" class="form-label"
                            >Email address</label
                          >
                          <input
                            type="email"
                            name="email"
                            class="form-control"
                            autocomplete="email"
                            maxlength="254"
                            required
                            id="id_email"
                            placeholder="Enter email"
                          />
                        </div>

                        <div class="form-group mb-0 row">
                          <div class="col-12">
                            <div class="d-grid">
                              <button class="btn btn-primary" type="submit">
                                Recover Password
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="text-center text-muted">
                        <p class="mb-0">
                          Change the mind ?<a
                            class="text-primary ms-2 fw-medium"
                            href="{% url 'login' %}"
                            >Back to Login</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-7 d-none d-xl-inline-block">
        <div class="account-page-bg rounded-4">
          <div class="text-center">
            <div class="auth-image">
              <img
                src="{% static 'lib/images/logo.png'%}"
                class="mx-auto img-fluid"
                alt="images"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "variables/new_js.html" %}
