<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Register | USSSA - Annual General Meeting 2026</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="USSSA Elective Annual General Meeting 2026"
    />
    <meta name="author" content="Shafiq" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="manifest" href="{% static 'lib/js/manifest.json' %}" />
    <meta name="theme-color" content="#000000" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'lib/images/logo.png'%}" />
    {% include "variables/new_css.html" %}

    <script src="assets/js/head.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css"
    />
  </head>

  <body>
    <!-- Begin page -->
    <div class="account-page">
      <div class="container-fluid p-0">
        <div class="row align-items-center g-0 px-3 py-3 vh-100">
          <div class="col-xl-7">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-0 p-0 p-lg-3">
                      <div class="mb-0 border-0 p-md-4 p-lg-0">
                        <div class="mb-3 p-0 text-center">
                          <div class="auth-brand">
                            <a class="logo logo-light" href="/dusty/html/">
                              <span class="logo-lg">
                                <img
                                  src="assets/images/logo-light.png"
                                  alt=""
                                  height="24"
                                />
                              </span>
                            </a>
                            <a class="logo logo-dark" href="/dusty/html/">
                              <span class="logo-lg">
                                <img
                                  src="assets/images/logo-dark.png"
                                  alt=""
                                  height="24"
                                />
                              </span>
                            </a>
                          </div>
                        </div>

                        <div class="auth-title-section mb-4 text-center">
                          <h3 class="text-primary fw-semibold mb-1">
                            REGISTER FOR THE USSSA AGM
                          </h3>
                          <p class="text-muted fs-14 mb-0">
                            Sign up to unlock exclusive content, special offers,
                            and be the first to know about exciting updates.
                          </p>
                        </div>

                        <div class="pt-0">
                          <form
                            action=""
                            method="POST"
                            class="form-control"
                            enctype="multipart/form-data"
                            id="regeForm"
                          >
                            {% csrf_token %}

                            <div class="schooled">
                              {% if form.non_field_errors %}
                              <div class="errorlist">
                                {{ form.non_field_errors }}
                              </div>
                              {% endif %}

                              <div class="col-md-12">
                                <div
                                  class="field"
                                  style="
                                  background-image:url("https://shorturl.at/6WS5B")
                                    background-size: cover;
                                    background-position: center;
                                    height: 300px;
                                    width: 100%;
                                  "
                                >
                                  <div
                                    id="photos_preview"
                                    class="preview-container"
                                  ></div>
                                </div>
                                <div class="field mt-2">
                                  <input
                                    type="file"
                                    name="photo"
                                    accept="image/*"
                                    id="id_photo"
                                    class="form-control"
                                  />
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <label>First Name</label>
                                  {{ form.first_name }}
                                  <!---->
                                  {% if form.first_name.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.first_name.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                                <div class="col-md-6">
                                  <label>Last Name</label>
                                  {{ form.last_name }}
                                  <!---->
                                  {% if form.last_name.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>

                                <div class="col-md-6">
                                  <label>School</label>
                                  {{ form.school }}
                                  <!---->
                                  {% if form.school.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.school.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>

                                <div class="col-md-6">
                                  <label>Phone:</label>
                                  {{ form.contact }}
                                  <!---->
                                  {% if form.contact.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.contact.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                                <div class="col-md-6">
                                  <label>Email:</label>
                                  {{ form.email }}
                                  <!---->
                                  {% if form.email.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>

                                <div class="col-md-6">
                                  <label>gender</label>
                                  {{ form.gender }}
                                  <!---->
                                  {% if form.gender.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.gender.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                                <div class="col-md-6">
                                  <label>Region</label>
                                  {{ form.region }}
                                  <!---->
                                  {% if form.region.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.region.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                                <div class="col-md-6">
                                  <label>Zone</label>
                                  {{ form.zone }}
                                  <!---->
                                  {% if form.zone.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.zone.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>

                                <div class="col-md-6">
                                  <label>District/ City/ Municipality</label>
                                  {{ form.district }}
                                  <!---->
                                  {% if form.district.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.district.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                                <div class="col-md-6">
                                  <label>Position</label>
                                  {{ form.position }}
                                  <!---->
                                  {% if form.position.errors %}
                                  <ul class="errorlist">
                                    {% for error in form.position.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-success">
                              Submit
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-5 d-none d-xl-inline-block">
            <div class="account-page-bg rounded-4">
              <div class="text-center">
                <div class="auth-image">
                  <img
                    src="assets/images/auth-images.svg"
                    class="mx-auto img-fluid"
                    alt="images"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END wrapper -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script src="{% static 'script/photo.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#id_district").select2();
      });
    </script>
    <!-- Vendor -->
    <!-- END wrapper -->
    {% include "variables/new_js.html" %} {% block extra_js %} {% endblock %}
  </body>
</html>
