# Django settings
usssa/settings.py
usssa/urls.py
django.log

# Django migrations
accounts/migrations/*
agm/migrations/*
base/migrations/*
dashboard/migrations/*
school/migrations/*
training/migrations/*
enrollment/migrations/*
transfers/migrations/*
zone/migrations/*


# Media and uploaded files (one level up)
athlete_photos/
agm_photo/
b2_photos/
trainee_photo/
trainee_photos/
transfer_documents/
certificates/
badge/
qr_codes/
banners/
b2_photo/
edit_support_docs/