{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{championship.first_name}} {{championship.last_name}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-den">
  <div class="head flex">
    <h1>{{championship.first_name}} {{championship.last_name}}</h1>
    <hr />
  </div>
  <div class="imagebox">
    <img src="{{championship.photo.url}}" alt="" />
    <div class="details">
      <li>{{championship.first_name}} {{championship.last_name}}</li>
      <li>{{championship.school}}</li>

      <li>{{championship.region}}</li>

      <li>{{championship.district}}</li>

      <li>{{championship.designation}}</li>

      <li>{{championship.contact}}</li>
    </div>
  </div>
</div>

{% endblock %}
