{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %}Users{% endblock %}
<!---->

{%block content%}


<div class="content-wrapper">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div
      class="alert {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="container-fluid">
    <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
      <div class="flex-grow-1">
        <h4 class="fs-18 fw-semibold m-0">School Users</h4>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table id="usersTable" class="display" style="width: 100%">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>School</th>
                  <th>Edit</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
  $(document).ready(function () {
    $("#usersTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "{% url 'users_data' %}",
        type: "GET",
      },
      columns: [
        { data: "username" },
        { data: "email" },
        { data: "school_profile" },
        { data: "actions", orderable: false, searchable: false },
      ],
    });
  });
</script>
{% endblock %}
