{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %}Users{% endblock %}
<!---->

{%block content%}
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin stretch-card flex">
      <div class="card corona-gradient-card">
        <div class="card-body py-0 px-0 px-sm-3">
          <h1>USERS</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="official-list">
          <table id="myTable" class="display">
            <thead>
              <tr>
                <th>Username</th>
                <th>Names</th>
                <th>School</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users%}
              <tr>
                <td>
                  <a href="">{{user.username}}</a>
                </td>
                <td>{{user.first_name}} {{user.last_name}}</td>

                <td>{{user.school}}</td>

                <td>
                  <a href="{%url 'edit_user' user.id%}" class="del"
                    ><i class="fa fa-pencil">Edit</i></a
                  >
                </td>
              </tr>

              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
