{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{trainee.fname}} {{trainee.lname}}{% endblock %}
<!--static-->
{% block head %}
<title>{{ trainee.fname }} {{ trainee.lname }}</title>
<meta property="og:title" content="{{ trainee.fname }} {{ trainee.lname }}" />
<meta
  property="og:description"
  content="{{ trainee.fname }} {{ trainee.lname }}"
/>
<meta property="og:image" content="{{ trainee.photo.url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
{% endblock %}

<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew content-wrapper">
  <div class="athlete flex">
    <div class="img-ath">
      <img src="{{trainee.photo.url}}" alt="" />
    </div>
    <div class="line-ath">
      <h1>{{trainee.first_name}} {{trainee.last_name}}</h1>
      <p>{{trainee.email}}</p>
      <hr />
      <div class="small-details grid3">
        <span
          >Phone
          <h3>{{trainee.contact}}</h3></span
        >
        <span
          >Gender
          <h3>{{trainee.gender}}</h3></span
        >
        <span
          >Date of birth
          <h3>{{trainee.date_of_birth}}</h3></span
        >
        <span
          >School/ place of work
          <h3>{{trainee.place}}</h3></span
        >
        <span
          >Designation
          <h3>{{trainee.designation}}</h3></span
        >
        <span
          >Venue:
          <h3>{{trainee.venue}}</h3></span
        >

        <span
          >Discipline:
          <h3>{{trainee.discipline}}</h3></span
        >
        <span
          >Course
          <h3>{{trainee.course}}</h3></span
        >
        <span
          >District
          <h3>{{trainee.district}}</h3></span
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
