h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
* {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  .input,
  select {
    &:focus {
      background-color: #fff;
    }
    background-color: #fff;
  }
}
.form-control {
  background-color: #e0e0e0;
  &:focus {
    background-color: #fff;
  }
}

.content-wrapper {
  @media (max-width: 768px) {
    margin-top: 30px;
  }
  @media (max-width: 568px) {
    margin-top: 70px;
  }
  @media (max-width: 368px) {
    margin-top: 100px;
  }
}

.custom-slider {
  height: 500px; /* Set the desired height */

  .carousel-inner {
    height: 100%; /* Ensure the inner content stretches to the full height */
  }

  .carousel-item img {
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
    height: 100%; /* Makes the image take the full height of the container */
    width: 100%; /* Ensures the image stretches horizontally */
  }

  @media (min-width: 769px) {
    height: 500px; /* Larger height for larger screens */
  }
  @media (max-width: 768px) {
    height: 300px; /* Smaller height for smaller screens */
  }
  @media (max-width: 468px) {
    height: 120px; /* Smaller height for smaller screens */
  }
}
