h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
* {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  .input,
  select {
    &:focus {
      background-color: #fff;
    }
    background-color: #fff;
  }
}
.form-control {
  background-color: #e0e0e0;
  &:focus {
    background-color: #fff;
  }
}

.content-wrapper {
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}
.card-body {
  padding: 0;
  .custom-slider {
    height: auto; /* Set the desired height */
    margin: 0;
    padding: 0;
    .carousel-inner {
      width: 100%;
      height: 100%;
      margin: 0; /* Ensure the inner content stretches to the full height */
      padding: 0;
    }

    .carousel-item img {
      object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
      height: 100%; /* Makes the image take the full height of the container */
      width: 100%; /* Ensures the image stretches horizontally */
      margin: 0;
      padding: 0;
    }

    @media (min-width: 769px) {
      height: 100%; /* Larger height for larger screens */
    }
    @media (max-width: 768px) {
      height: 100%; /* Smaller height for smaller screens */
    }
  }
}

.navbar-nav {
  .nav-item {
    h2 {
      font-size: 2em;
      @media (max-width: 768px) {
        font-size: 100%;
      }
      @media (max-width: 368px) {
        font-size: 60%;
      }
    }
  }
}
.count-indicator {
  position: relative;
  .scount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    border-radius: 100pc;
    position: absolute;

    top: 0;
    span {
      margin-bottom: 3px;
    }
  }
}

.preview-list {
  padding: 20px;
  width: 600px;
  ul {
    margin: 20px;
    list-style: none;
  }
}
