.school {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://freedesignfile.com/upload/2017/02/White-abstract-background-with-wave-vector-illustration-03.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .form-control {
    padding: 20px;
    width: 60%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.497);
    backdrop-filter: blur(2em);

    .top {
      //
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4em;
      // color: rgb(0, 0, 0);
      text-transform: capitalize;
      font-weight: bold;
      margin: 0 0 10px 0;
    }
    @media (max-width: 1028px) {
      width: 100%;
    }
    .schoolt {
      margin: 20px 0;
      h2 {
        background-color: #f5f5f528;
        padding: 10px;
        border-bottom: solid 1px #ccc;
      }
      .fields {
        .left {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          @media (max-width: 600px) {
            flex-direction: column;
          }
          .imgbox {
            .field {
              width: 100%;
              flex-direction: column;
              .preview-container {
                background-image: url("https://static.vecteezy.com/system/resources/thumbnails/036/594/092/small_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg");
                background-position: center center;
                background-size: cover;
              }
              .aa {
                background-image: url("https://media.istockphoto.com/id/1475470719/vector/university-logo-design-vector.jpg?s=612x612&w=0&k=20&c=qx6baDJQUUYf_U1tRu-dP3KSHS1EmGUspuo_zRfHnkQ=");
                background-position: center center;
                background-size: cover;
              }
              label {
                text-transform: capitalize;
                font-weight: 500;
                color: #464646;
                font-size: 15px;
              }
              input {
                width: 100%;
                padding: 8px;
              }
            }
          }
          .fiil {
            padding: 10px;

            .field {
              width: 100%;
              flex-direction: column;
              label {
                text-transform: capitalize;
                font-weight: 500;
                color: #464646;
                font-size: 15px;
                margin-top: 10px;
              }
              input,
              select {
                width: 100%;
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }
}
