.soverview {
  position: relative;
  .school-box {
    padding: 20px;
    border-radius: 5px;
    font-size: 80%;

    .school {
      padding: 20px;
      h1 {
        font-size: 18px;
      }
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-bottom: 10px;
      }
    }
  }

  .dextails {
    margin: 10px 0;
    width: 100%;
    .tabs-section {
      .tabs-container {
        .tabs {
          .tab {
            padding: 15px 10px;
            width: 150px;
            background-color: #f7f7f7;
            border: 0;
            border-radius: 3px;
            &:hover {
              background-color: #ccc;
              cursor: pointer;
            }
          }
        }
        .content {
          .tabpanel {
            padding: 20px;
            .head {
              overflow: hidden;
              h3 {
                text-transform: capitalize;
                font-weight: 500;
                font-size: 20px;
              }
              a {
                font-weight: 500;
              }
            }
            .athletelist {
              .filter {
                width: 100%;
                border-collapse: collapse;
                margin: 10px 0;
                @media (max-width: 790px) {
                  display: none;
                }
                .formis {
                  margin: 10px;
                  .field {
                    flex-direction: column;
                    align-items: flex-start;
                    input,
                    select {
                      width: 100%;
                      border-radius: 3px;
                    }
                    label {
                      text-transform: uppercase;
                      font-weight: 600;
                    }
                  }
                  .btn-submit {
                    margin: 0;
                  }
                }
              }

              .titles {
                width: 100%;
                border-collapse: collapse;
                padding: 10px 20px;
                text-transform: uppercase;
                font-weight: 600;
              }
              .grid05 {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
              }
              .official-list {
                width: 100%;
                padding: 10px;
                border-collapse: collapse;
                text-transform: uppercase;

                .school {
                  @media (max-width: 700px) {
                    width: 100%;
                  }
                  img {
                    width: 40px;
                    height: 30px;
                  }
                  align-items: center;
                  padding: 10px;
                  a {
                    color: inherit;
                  }
                  span {
                    color: inherit;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: normal;
                    &:nth-child(5) {
                      text-transform: lowercase;
                    }
                  }
                  &:hover {
                    background-color: #3b3b3b1b;
                  }
                }
                hr {
                  border: solid 1px #eeeeee31;
                }
              }
            }
          }
        }
      }
    }
  }
}
