{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!--    hjjhh-->
{% block title %} | Tickets{% endblock title %} {% block content %}
<div class="container content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tickets</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table  id="myTable" class="display">
              <thead class="text-primary">
                <th>Ticket ID</th>
                <th>Topic</th>
                <th>Title</th>
                <th>Status</th>
                <th>Date</th>
              </thead>
              <tbody>
                {% for ticket in tickets %}
                <tr>
                  <td>
                    <a href="{% url 'ticket' ticket.id%}"
                      >{{ ticket.ticket_id }}</a
                    >
                  </td>
                  <td>{{ ticket.topic }}</td>
                  <td>{{ ticket.title }}</td>
                  <td class={% if ticket.status == "Open" %}
                  
                  "btn btn-primary" {% elif ticket.status == "Answered" %}
                  
                  "btn btn-info" {% else %}"btn btn-warning" {% endif %}>
                 {{ ticket.status }}</td>
                  <td>{{ticket.created_at}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
