{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Enrollment{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">ENROLLMENTS</h1>

      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Enroll school
      </button>
    </div>
    <div class="card-body">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div
          class="alert {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="table-responsive">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>
              <th>Championship</th>
              <th>Sport</th>
              <th>level</th>
            </tr>
          </thead>
          <tbody>
            {% for school_enrollment in enrollments %}
            <tr>
              <td>
                <a href="{% url 'school_enrollment' school_enrollment.id%}"
                  >{{school_enrollment.championship}}
                  {{school_enrollment.sport}}</a
                >
              </td>

              <td>{{school_enrollment.championship}}</td>
              <td>{{school_enrollment.sport}}</td>
              <td>{{school_enrollment.level}}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enroll School</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="school-long">
            <form
              action=""
              method="POST"
              class="form-ctrl"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="field">
                <label>Championship</label>
                {{form.championship}}
              </div>

              <div class="field">
                <label>Sport</label>
                <select id="id_sport" name="sport" class="form-control">
                  <option value="">---------</option>
                </select>
                <!--{{form.sport}}-->
              </div>
              <div class="field">
                <label>Level</label>
                {{form.level}}
              </div>

              <button type="submit" class="btn btn-success">Enroll</button>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

  <script>
    $(document).ready(function () {
      $("#id_championship").change(function () {
        var championshipId = $(this).val();
        if (championshipId) {
          $.ajax({
            url: "{% url 'get_sports' %}", // Use the URL for the updated view
            data: {
              championship_id: championshipId,
            },
            success: function (data) {
              var sportDropdown = $("#id_sport");
              sportDropdown.empty();
              sportDropdown.append('<option value="">Select a sport</option>');
              data.forEach(function (sport) {
                sportDropdown.append(
                  `<option value="${sport.id}">${sport.name}</option>`
                );
              });
            },
          });
        } else {
          $("#id_sport").empty();
          $("#id_sport").append('<option value="">Select a sport</option>');
        }
      });
    });
  </script>
</div>
{% endblock %}
