{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}My Transfers{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew content-wrapper">
  <div class="head flex">
    <h1>My Transfers</h1>
  </div>

  <div class="filterlist card">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>
              <th>Current School</th>
              <th>Date</th>
              <th>Status</th>

              <th>Transfer</th>
            </tr>
          </thead>

          <tbody>
            {% for mytransfer in mytransfers %}
            <tr>
              <td>
                <a href=""
                  >{{ mytransfer.athlete.fname }} {{ mytransfer.athlete.lname}}</a
                >
              </td>
              <td>{{ mytransfer.owner }}</td>

              <td>{{ mytransfer.requested_at }}</td>
              <td>{{ mytransfer.status }}</td>
              <td>
                <a href="" class="btn btn-outline-primary">
                  <i class="fa fa-plus"></i> Cancel Request
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
