.imgbox {
  .field {
    margin-bottom: 10px;
    .preview-container {
      background-image: url("https://upssaonline.com/profile.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 300px;
      width: 100%;
      object-fit: contain;
      @media (max-width: 900px) {
        width: 300px;
      }
      @media (max-width: 550px) {
        width: 100%;
        height: 250px;
      }
    }
    input,
    select {
      width: 100%;
      background-color: #fff;
      // box-shadow: 1px 1px 10px 1px #cecece;
    }
    label {
      margin: 0;
      font-size: 13px;
      color: #000000;
    }
  }
}

.img0box {
  .field {
    margin-bottom: 10px;
    .preview-container {
      background-image: url("https://upssaonline.com/profile.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 200px;
      width: 200px;
      object-fit: contain;
      @media (max-width: 900px) {
        width: 300px;
      }
      @media (max-width: 550px) {
        width: 100%;
        height: 250px;
      }
    }
    input,
    select {
      width: 100%;
      background-color: #fff;
      // box-shadow: 1px 1px 10px 1px #cecece;
    }
    label {
      margin: 0;
      font-size: 13px;
      color: #000000;
    }
  }
}
