{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{athletics_enrollment.id}} {{athletics_enrollment}}

<!---->{% endblock%}

<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        {{ athletics_enrollment.championship }} - {{athletics_enrollment.sport}}
      </h1>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <button
          type="button"
          class="btn btn-primary mb-3"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Enroll athletes
        </button>

        <a
          href="{% url 'athletics_album' athletics_enrollment.id %}"
          class="btn btn-primary"
          >Album</a
        >
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Enroll Athletes
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="school-long">
                <form method="post">
                  {% csrf_token %} {% csrf_token %}
                  <label for="athlete_id">Enter Athlete ID:</label>
                  <input
                    type="number"
                    name="athlete_id"
                    id="athlete_id"
                    required
                  />
                  <button type="submit">Add Athlete</button>
                </form>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="enrolled-athletes flex">
        <h2>Enrolled Athletes</h2>
      </div>
      {% if athlete_enrollments %}
      <div class="row">
        {% for enrollment in athlete_enrollments %}
        <!---->
        {% for athlete in enrollment.athletes.all %}
        <div class="col-12 col-md-3">
          <div class="card border">
            <div class="card-body">
              <div class="text-center">
                <img
                  src="{{athlete.photo.url}}"
                  class="rounded-circle avatar-xl img-thumbnail"
                  alt="image profile"
                />

                <div class="mt-2 mb-3">
                  <span
                    class="badge bg-primary-subtle rounded-2 text-primary mb-2 fw-normal"
                    >{{athlete.lin}} | {{athlete.gender}}</span
                  >
                  <h5 class="m-0 fw-medium text-dark fs-16">
                    {{athlete.fname}} {{athlete.lname}}
                  </h5>
                  <p class="mt-1 mb-0">{{athlete.index_number}}</p>
                  <p class="mt-1 mb-0">{{athlete.date_of_birth}}</p>
                </div>
                <div class="">
                  {% if user.is_staff %}
                  <form
                    method="POST"
                    action="{% url 'remove_athletics' enrollment.id athlete.id %}"
                  >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
            <!--end card-body-->
          </div>
        </div>
        {% endfor %} {% endfor %}
      </div>
      {% else %}
      <p>No athletes enrolled yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
