{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew content-wrapper">
  
                  <div class="card-body">
                    <div class="mb-0 p-0 p-lg-3">
                      <div class="mb-0 border-0 p-md-4 p-lg-0">
                        <form
                          action=""
                          method="POST"
                          class="form-control fomin"
                          enctype="multipart/form-data"
                          id="fomin"
                        >
                          {% csrf_token %}
                          <div class="schoolt">
                            <h2>Personal Info</h2>

                            <div class="row fields">
                              <div class="col-xl-4 col-lg-4 col-md-12">
                                <div class="imgbox">
                                  <div class="field">
                                    <label>{{form.photo.label}} </label>
                                    <div
                                      id="photos_preview"
                                      class="preview-container mb-2"
                                      style="
                                        background-image: url({% static 'img/profile.png' %}); background-size: cover;
                                      "
                                    ></div>
                                  </div>
                                  
                                  <div class="field">
                                    <input
                                      type="file"
                                      name="photo"
                                      accept="image/*"
                                      id="id_photo"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-8 col-lg-8 col-md-12">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.first_name.label}}</label>
                                      {{form.first_name}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.last_name.label}}</label>
                                      {{form.last_name}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.contact.label}}</label>
                                      {{form.contact}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.email.label}}</label>
                                      {{form.email}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>Work Place/ School</label>
                                      {{form.place}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.district.label}}</label>
                                      {{form.district}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.gender.label}}</label>
                                      {{form.gender}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label
                                        >{{ form.date_of_birth.label}}</label
                                      >
                                      {{form.date_of_birth}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="field">
                                      <label>{{ form.designation.label}}</label>
                                      {{form.designation}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div></div>
                          <div class="schoolt mb-4">
                            <h2>Course Info</h2>

                            <div class="row fields">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label>{{ form.season.label}}</label>
                                      {{form.season}}
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label>{{ form.venue.label}}</label>
                                      {{form.venue}}
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label>{{ form.course.label}}</label>
                                      {{form.course}}
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label>{{ form.level.label}}</label>
                                      {{form.level}}
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label
                                        >{{ form.residence_type.label}}</label
                                      >
                                      {{form.residence_type}}
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-4">
                                    <div class="field">
                                      <label
                                        >{{ form.phone_number.label}}</label
                                      >
                                       {{form.phone_number}}
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="field">
                                      <label>.</label>
                                    <button type="submit" class="btn btn-success" id="submitBtton">
                                    Submit and Pay
                                  </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Button trigger modal -->

                          <!-- Modal -->
                   
                          {% if messages %}
                          <div class="messages">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                              {{ message }}
                            </div>
                            {% endfor %}
                          </div>
                          {% endif %}
                        </form>

                     
                      </div>
                    </div>
                  </div>
</div>
{% endblock %}
