{% load static %}

<!-- App css -->
<link
  href="{% static 'lib/css/app.min.css'%}"
  rel="stylesheet"
  type="text/css"
  id="app-style"
/>

<!-- Icons -->
<link
  href="{% static 'lib/css/icons.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>

<script src="{% static 'lib/js/head.js'%}"></script>
<link
  href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
  rel="stylesheet"
/>
<link
  rel="shortcut icon"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css"
/>
<link
  href="https://cdn.datatables.net/v/dt/dt-2.0.1/datatables.min.css"
  rel="stylesheet"
/>

<!-- Datatables css -->
<link
  href="{% static 'lib/css/dataTables.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'lib/css/buttons.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'lib/css/keyTable.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'lib/css/responsive.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'lib/css/select.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>

<style>
  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .error-message {
    background-color: red;
    color: white;
  }

  .success-message {
    background-color: #4caf50;
    color: white;
  }
</style>
