{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{athlete.fname}} {{athlete.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="container-fluid">
  <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
    <div class="flex-grow-1">
      <h1 class="fs-18 fw-semibold m-0">{{athlete.fname}} {{athlete.lname}}</h1>
    </div>
  </div>

  <!-- Start Wdget Component -->
  <div class="row">
    <!-- Start Traffic Source -->
    <div class="col-md-12 col-xl-4 col-xxl-4">
      <div class="card overflow-hidden">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="card-title text-dark mb-0">Photo</h5>
          </div>
        </div>

        <div class="card-body mt-0 p-0">
          <div class="img-ath">
            {% if athlete.photo %}
            <img src="{{athlete.photo.url}}" alt="" width="100%" />
            {% else %}
            <img src="{% static 'images/profile.png'%}" alt="" width="100%" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Start Growth Rate -->

    <!-- Start Visit By Source -->
    <div class="col-md-12 col-xl-8 col-xxl-8">
      <div class="card overflow-hidden">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="card-title text-dark mb-0">Other details</h5>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <!-- end col -->

            <div class="col-6 col-md-8">
              <span class="fs-14 text-muted">Names</span>
              <h6 class="mb-1 text-dark fs-15">
                {{athlete.fname}}{% if athlete.mname %} {{athlete.mname}}
                <!---->
                {% endif %} {{athlete.lname}}
              </h6>
            </div>
          </div>
          <div class="line-ath">
            <h1></h1>
            <span>{{athlete.athlete_id}}</span> |
            <span>{{athlete.gender}}</span> |
            <span>{{ age}} Years</span>
            <hr />
            <div class="row">
              <!-- end col -->
              {% if athlete.lin %}
              <div class="col-6 col-md-4">
                <span class="fs-14 text-muted">LIN</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.lin}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Index Number:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.index_number}}</h6>
              </div>
              {% else %}
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Nationality</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.nationality}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Refugee status:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.refugee}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">UNEB Equated Results Code:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.uneb_code}}</h6>
              </div>
              {% endif %}
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Date of Birth:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.date_of_birth}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Class:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.classroom}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Physical status:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.physic}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Registration date:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.created}}</h6>
              </div>
              <div class="col-6 col-md-4 mb-4">
                <span class="fs-14 text-muted">Status:</span>

                <h6 class="mb-1 text-dark fs-15">{{athlete.status}}</h6>
              </div>

              <div class="col-6 col-md-4 mb-4">
                {% if user.is_staff %}
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Screen Athlete
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xl-4 col-xxl-4">
      <h3>Guardian Infor</h3>
      <hr />
      <div class="athlete-details card">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Names</td>
              <td>{{athlete.Parent_fname}} {{athlete.Parent_lname}}</td>
            </tr>
            <tr>
              <td>NIN</td>
              <td>{{athlete.parent_nin}}</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>{{athlete.parent_phone_number}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{athlete.address}}</td>
            </tr>
            <tr>
              <td>Relationship</td>

              <td>{{athlete.relationship}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-12 col-xl-4 col-xxl-4">
      <h3>Documents</h3>
      <hr />
      <div class="athlete-details card">
        <li>
          {% if athlete.ple_certificate %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.ple_certificate.url }}" target="_blank"
            >PLE Certificate</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.uce_certificate %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.uce_certificate.url }}" target="_blank"
            >UCE Certificate</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.student_pass %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.student_pass.url }}" target="_blank"
            >Student Pass</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.refugee_card %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.refugee_card.url }}" target="_blank"
            >Refugee Card</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.uneb_eq_results %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.uneb_eq_results.url }}" target="_blank"
            >UNEB Equated Results</a
          >
          {% endif %}
        </li>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Championship</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ dform.as_p }}
          <button type="submit" class='btn btn-primary'>Submit</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
