{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{athlete.fname}} {{athlete.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew content-wrapper">
  <div class="athlete flex">
    <div class="img-ath">
      {% if athlete.photo %}
      <img src="{{athlete.photo.url}}" alt="" />
      {% else %}
      <img src="{% static 'images/profile.png'%}" alt="" />{% endif %}
    </div>
    <div class="line-ath">
      <h1>
        {{athlete.fname}} {% if athlete.mname %}{{athlete.mname}}{% endif %}
        {{athlete.lname}}
      </h1>
      <span>{{athlete.athlete_id}}</span> | <span>{{athlete.gender}}</span> |
      <span>{{ age}} Years</span>
      <hr />
      <div class="small-details grid3">
        {% if athlete.lin %}
        <span
          >LIN:
          <h3>{{athlete.lin}}</h3></span
        >
        <span
          >Index Number:
          <h3>{{athlete.index_number}}</h3></span
        >{% else %}
        <span
          >Nationality:
          <h3>{{athlete.nationality}}</h3></span
        ><span
          >Refugee status:
          <h3>{{athlete.refugee}}</h3></span
        ><span
          >UNEB Equated Results Code:
          <h3>{{athlete.uneb_code}}</h3></span
        >{% endif %}

        <span
          >Date of Birth:
          <h3>{{athlete.date_of_birth}}</h3></span
        >
        <span
          >Class:
          <h3>{{athlete.classroom}}</h3></span
        >
        <span
          >Physical status:
          <h3>{{athlete.physic}}</h3></span
        >
        <span
          >Registration date:
          <h3>{{athlete.created}}</h3></span
        >
        <span
          >Status:
          <h3>{{athlete.status}}</h3></span
        >
        {% if user.is_staff %}
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Screen Athlete
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="downgrade grid2">
    <div class="athletesa">
      <h3>Guardian Infor</h3>
      <hr />
      <div class="athlete-details card">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Names</td>
              <td>{{athlete.Parent_fname}} {{athlete.Parent_lname}}</td>
            </tr>
            <tr>
              <td>NIN</td>
              <td>{{athlete.parent_nin}}</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>{{athlete.parent_phone_number}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{athlete.address}}</td>
            </tr>
            <tr>
              <td>Relationship</td>

              <td>{{athlete.relationship}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="athletea">
      <h3>Documents</h3>
      <hr />
      <div class="athlete-details card">
        <li>
          {% if athlete.ple_certificate %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.ple_certificate.url }}" target="_blank"
            >PLE Certificate</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.uce_certificate %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.uce_certificate.url }}" target="_blank"
            >UCE Certificate</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.student_pass %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.student_pass.url }}" target="_blank"
            >Student Pass</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.refugee_card %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.refugee_card.url }}" target="_blank"
            >Refugee Card</a
          >
          {% endif %}
        </li>
        <li>
          {% if athlete.uneb_eq_results %}
          <i class="fa fa-file"></i>
          <a href="{{ athlete.uneb_eq_results.url }}" target="_blank"
            >UNEB Equated Results</a
          >
          {% endif %}
        </li>
        {% if athlete.qr_code %}
        <img src="{{athlete.qr_code.url}}" alt="" />{% endif %}
      </div>
    </div>
  </div>

  <div class="related_athletes">
    <h1>Related athletes</h1>
    <p>Athletes from the same school</p>
    <div class="athletes grid5">
      {% for athlete in relatedathletes %}
      <a class="athlete" href="{% url 'athlete' athlete.id%}">
        <img src="{{athlete.photo.url}}" alt="" />
        <div class="atth">
          <p>{{athlete.fname}} {{athlete.lname}}</p>
          <p>{{athlete.athlete_id}}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Championship</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ dform.as_p }}
            <button type="submit">Submit</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
