{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Athletes{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="fs-18 fw-semibold m-0">Athletes</h1>

      <a href="{% url 'add_athlete'%}" class="btn btn-primary">Add Athlete</a>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Athlete Name</th>
              <th>Index</th>
              <th>Gender</th>
              <th>Class</th>
              <th>Date of Birth</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for athlete in athletes %}
            <tr>
              <td>
                <a href="{% url 'athlete' athlete.id%}">
                  <span class="pl-2"
                    >{{athlete.fname}} {{athlete.lname}}</span
                  ></a
                >
              </td>

              <td>{{ athlete.index_number }}</td>

              <td>{{ athlete.gender }}</td>
              <td>S{{ athlete.classroom }}</td>
              <td>{{ athlete.date_of_birth }}</td>
              <td>
                <a href="{% url 'edit_request_athlete' athlete.id %}" class="btn btn-warning btn-sm">Request Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
