{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{official.fname}} {{official.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="container-fluid">
  <!-- Datatables  -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title mb-0">
            {{official.fname|upper}} {{official.lname|upper}}
          </h2>
        </div>
        <!-- end card header -->

        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="{{official.photo.url}}" alt="" width="100%" />
            </div>
            <div class="col-md-8">
              <p>Email</p>
              <h4>{{official.email}}</h4>
              <hr />
              <div class="small-details grid2">
                <span
                  >National Identification number:
                  <h3>{{official.nin}}</h3></span
                >
                <span
                  >Role:
                  <h3>{{official.role}}</h3></span
                >

                <span
                  >Contact:
                  <h3>{{official.phone_number}}</h3></span
                >

                <span
                  >Date of Birth:
                  <h3>{{official.date_of_birth}}</h3></span
                >
                <span
                  >Residence:
                  <h3>{{official.residence}}</h3></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
