{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew content-wrapper">
  <div class="head flex">
    <h1>officials</h1>
    <div class="ass">
      <a href="{% url 'add_official'%}" class="btn-submit">Add official</a>
    </div>
  </div>

  <div class="filterlist card">
    <div class="lo">
      <div class="table-responsive">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>

              <th>NIN</th>
              <th>Email</th>
              <th>Role</th>

              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            {% for official in school_offs%}
            <tr>
              <td>
                <a href="{% url 'official' official.id%}"
                  >{{official.fname}} {{official.lname}}</a
                >
              </td>
              <td>{{official.nin}}</td>
              <td>{{official.email}}</td>
              <td>{{official.role }}</td>
              <td>{{official.gender}}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
