{% extends "base/base.html" %}
<!---->
{% load static %}
<!---->
{% block content %}

<!-- Hero Section Starts -->
<section id="hero">
  <div class="image-holder position-relative">
    <img
      src="{% static 'images/pattern.png'%}"
      alt="banner"
      class="img-fluid"
    />
  </div>
  <div
    class="hero container position-absolute top-50 start-50 translate-middle pb-5"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
  >
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h6>UGANDA SECONDARY SCHOOLS SPORTS ASSOCIATION</h6>
        <h1 class="text-capitalize text-light my-3">
          Fast & secure registration for any school.
        </h1>
        <p class="text-light mb-4">
          Sed et lorem eget quam eget pulvinar viverra egestas aliquam. Dolor
          suspendisse adipiscing in vel sodales luctus arcu. Laculis eget dictum
          suspendisse urna euismod. Diam volutpat turpis at vitae.
        </p>

        <div class="">
          <button type="button" class="btn btn-primary me-3 mb-2">
            <span class="btnText">REGISTER SCHOOL</span>
            <span class="btnTwo">
              <iconify-icon
                icon="prime:arrow-right"
                class="btn-arrow"
              ></iconify-icon>
            </span>
          </button>

          <button
            type="button"
            class="btn btn-outline-primary hero-btn-outline-primary mb-2"
          >
            Learn more
          </button>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="{% static 'images/hero.png'%}"
          class="d-none d-lg-block img-fluid"
          alt="Bootstrap Themes"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>

<!-- brand section starts  -->
<section id="brands" class="container-fluid brand-block">
  <div class="brand-names d-lg-flex justify-content-between">
    <img
      class="mb-5 mb-lg-0 me-4"
      src="{% static 'images/Coat.svg.png'%}"
      alt=""
    />
    <img
      class="mb-5 mb-lg-0 me-4"
      src="{% static 'images/images.png '%}"
      alt=""
    />
    <img
      class="mb-5 mb-lg-0 me-4"
      src="{% static 'images/images.jpeg'%}"
      alt=""
    />
    <img class="mb-5 mb-lg-0 me-4" src="{% static 'images/logo.png'%}" alt="" />
    <img class="mb-5 mb-lg-0 me-4" src="{% static 'images/upsa.png'%}" alt="" />
    <img
      class="mb-5 mb-lg-0 me-4"
      src="{% static 'images/asshu.png'%}"
      alt=""
    />
  </div>
</section>

<!-- steps section starts  -->
<section id="steps">
  <div
    class="container my-5 pt-5"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
  >
    <h2 class="text-capitalize text-center mt-5">Three easy steps</h2>
    <div class="row py-4">
      <div class="col-md-4 mt-4">
        <div class="step-post text-center px-5">
          <div class="step-icon mb-3">
            <iconify-icon
              class="iconify-step"
              style="background: #5399f4"
              icon="mdi:download-circle-outline"
            ></iconify-icon>
          </div>
          <h3 class=" ">Start by integrating</h3>
          <p class=" ">
            In tortor amet fringilla sed porta nec sempe odio consectetur vitae.
          </p>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="step-post text-center px-5">
          <div class="step-icon mb-3">
            <iconify-icon
              class="iconify-step"
              style="background: #f5c037"
              icon="mdi:folder-file-outline"
            ></iconify-icon>
          </div>
          <h3 class=" ">Get the preview</h3>
          <p class=" ">
            Tempor eu congue semper odio dolor tincidunt posuere tellus donec.
          </p>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="step-post text-center px-5">
          <div class="step-icon mb-3">
            <iconify-icon
              class="iconify-step"
              style="background: #f58737"
              icon="mdi:cog-outline"
            ></iconify-icon>
          </div>
          <h3 class=" ">Share your work</h3>
          <p class=" ">
            Morbi habitant diam nulla tincidunt corper sollicitudin consect.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about section starts  -->
<section id="about">
  <div class="hero container my-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="{% static 'images/about.png'%}"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-easing="ease-in-sine">
        <h6>Hosthub web host</h6>
        <h2 class="text-capitalize my-3">
          Best web hosting with trusted services
        </h2>
        <p class="pb-5">
          Enim vel sed aliquet in eget eros neque nam. Gravida sodales bibendum
          quam neque lacus ullamcorper est ut. Bibendum neque eget sed sed
          faucibus egestas duis ullamcorper. Nibh adipiscing sit sagittis nunc
          aliquet sit.
        </p>

        <div class="">
          <button type="button" class="btn btn-outline-primary">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- feature section starts  -->
<section id="feature">
  <div class="container py-5">
    <h2 class="text-capitalize text-center pt-5 pb-3 my-5">
      HostHub core Features
    </h2>
    <div
      class="row row-cols-2 row-cols-sm-3 pb-5"
      data-aos="fade-up"
      data-aos-easing="ease-in-sine"
    >
      <div class="col align-items-start pb-4">
        <iconify-icon
          class="feature-icon"
          icon="mdi:cellphone-cog"
        ></iconify-icon>
        <div>
          <h3 class="">Easy to setup</h3>
          <p class="">
            Mi luctus sed ut auctor sit. Enim vel sed aliquet in eget eros amet
            fringilla sed porta nec neque.
          </p>
        </div>
      </div>
      <div class="col align-items-start pb-4">
        <iconify-icon class="feature-icon" icon="mdi:nas"></iconify-icon>
        <div>
          <h3 class="">SSD storage</h3>
          <p>
            Enim vel sed aliquet in eget eros amet fringilla sed porta nec neque
            nam. Luctus sed ut auctor sit.
          </p>
        </div>
      </div>
      <div class="col align-items-start pb-4">
        <iconify-icon class="feature-icon" icon="mdi:lock-check"></iconify-icon>
        <div>
          <h3 class="">Secured & trusted</h3>
          <p>
            Gravida sodales bibendum quam neque. Mi luctus sed ut auctor sit.
            Enim vel sed aliquet in eget eros.
          </p>
        </div>
      </div>
      <div class="col align-items-start pb-4">
        <iconify-icon class="feature-icon" icon="mdi:database"></iconify-icon>
        <div>
          <h3 class="">Unlimited Database</h3>
          <p>
            Gravida sodales bibendum quam neque. Mi luctus sed ut auctor sit.
            Enim vel sed aliquet in egetamet.
          </p>
        </div>
      </div>
      <div class="col align-items-start pb-4">
        <iconify-icon
          class="feature-icon"
          icon="mdi:server-security"
        ></iconify-icon>
        <div>
          <h3 class="">Cloud server & VPS</h3>
          <p>
            Sed ut auctor sit. Enim vel sed aliquet in eget eros amet fringilla
            sed porta nec neque nam.
          </p>
        </div>
      </div>
      <div class="col align-items-start pb-4">
        <iconify-icon
          class="feature-icon"
          icon="mdi:comment-question"
        ></iconify-icon>
        <div>
          <h3 class="">Customer support</h3>
          <p>
            Vel sed aliquet in eget eros amet fringilla sed porta nec neque nam.
            Luctus sed ut auctor sit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about2 section starts  -->
<section id="about2">
  <div class="hero container py-5 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="{% static 'images/about2.png'%}"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-easing="ease-in-sine">
        <h6>Ready for</h6>
        <h2 class="text-capitalize my-3">Scalable performance management</h2>
        <p class="mb-5">
          Gravida sodales bibendum quam neque lacus ullamcorper est ut. Bibendum
          neque eget sed sed faucibus egestas duis enim vel sed aliquet in eget
          eros neque nam ullamcorper nibh adipiscing sit sagittis nunc aliquet
          sit.
        </p>

        <div class="">
          <button type="button" class="btn btn-outline-primary">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- testimonial section starts  -->
<section id="testimonial">
  <div class="container">
    <h2 class="text-capitalize text-center my-5">Our customer’s reviews</h2>
    <div
      class="swiper testimonial-swiper"
      data-aos="fade-up"
      data-aos-easing="ease-in-sine"
      data-aos-delay="300"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “A pellen tesque pretium feugiat vel mobi sagittis lorem
                    habi tasse cursus ipsum quis nec eget facilisis. Quis nibh
                    ut bindum nisl quis placerat proin tortor mattis.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Jacob Miller - Feb 22, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “Feugiat hac porttitor sem dictum velit, elementum odio. Sed
                    ipsum quis nec eget facilisis. Quis nibh ut bibendum nisl
                    quis placerat proin tortor mattis in neque.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Kelly Garcia - Feb 23, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “Quis nibh ut bibendum nisl quis placerat proin tortor
                    mattis in neque. Feugiat hac porttitor sem dictum velit,
                    eleme nisl quis placerat ntum odio sed eget facilisis.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Anny Grey - Feb 20, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “A pellen tesque pretium feugiat vel mobi sagittis lorem
                    habi tasse cursus ipsum quis nec eget facilisis. Quis nibh
                    ut bindum nisl quis placerat proin tortor mattis.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Jacob Miller - Feb 22, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “Feugiat hac porttitor sem dictum velit, elementum odio. Sed
                    ipsum quis nec eget facilisis. Quis nibh ut bibendum nisl
                    quis placerat proin tortor mattis in neque.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Kelly Garcia - Feb 23, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card testimonials-inner">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-text mb-4">
                    “Quis nibh ut bibendum nisl quis placerat proin tortor
                    mattis in neque. Feugiat hac porttitor sem dictum velit,
                    eleme nisl quis placerat ntum odio sed eget facilisis.”
                  </p>
                  <div class="row testimonial-details">
                    <p class="col-md-8 testimonial-name">
                      Anny Grey - Feb 20, 2023
                    </p>
                    <div class="col-md-4 rating">
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-half"
                      ></iconify-icon>
                      <iconify-icon
                        class="testimonial-icon"
                        icon="ion:star-outline"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-unset mt-4"></div>
    </div>
  </div>
</section>

<!-- price-plan section starts  -->
<section id="price-plan">
  <div class="container py-5 my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-capitalize text-center mt-5">
          Choose your hosting plan
        </h2>
        <p class="text-center">
          Egestas duis enim vel sed aliquet in eget eros neque nam ullamcorper
          nibh adipin eget eros neque namiscing sit sagittis nunc aliquet sit.
        </p>
      </div>
    </div>

    <div class="row py-4">
      <div
        class="col-12 col-md-6 col-lg-3 pb-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="0"
      >
        <div class="pt-5 pb-4 plan-post text-center">
          <h6>Essential</h6>

          <div class="d-flex my-4 justify-content-center">
            <p class="dollar">$</p>
            <p class="plan-cost">5&nbsp;</p>
            <p class="month pt-3">/month</p>
          </div>

          <div class="mb-5">
            <button type="button" class="btn btn-outline-primary">
              Select
            </button>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>1 website</p>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>10 GB storage</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free domain</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free SSL</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free email</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Daily Backup</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited bandwidth</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated resources</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated IP Address</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 pb-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="300"
      >
        <div class="pt-5 pb-4 plan-post text-center">
          <h6>starter</h6>

          <div class="d-flex my-4 justify-content-center">
            <p class="dollar">$</p>
            <p class="plan-cost">8&nbsp;</p>
            <p class="month pt-3">/month</p>
          </div>

          <div class="mb-5">
            <button type="button" class="btn btn-outline-primary">
              Select
            </button>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>10 website</p>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>100 GB storage</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free domain</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free SSL</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free email</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Daily Backup</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited bandwidth</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated resources</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated IP Address</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 pb-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="600"
      >
        <div
          class="pt-5 pb-4 plan-post text-center"
          style="background: #f2f6fb"
        >
          <h6>pro</h6>

          <div class="d-flex my-4 justify-content-center">
            <p class="dollar">$</p>
            <p class="plan-cost">10&nbsp;</p>
            <p class="month pt-3">/month</p>
          </div>

          <div class="mb-5">
            <button
              type="button"
              class="btn btn-outline-primary plan-btn-outline-primary"
            >
              Select
            </button>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited</p>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>250 GB storage</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free domain</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free SSL</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free email</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Daily Backup</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited bandwidth</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated resources</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated IP Address</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 pb-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="900"
      >
        <div class="pt-5 pb-4 plan-post text-center">
          <h6>ultimate</h6>

          <div class="d-flex my-4 justify-content-center">
            <p class="dollar">$</p>
            <p class="plan-cost">19&nbsp;</p>
            <p class="month pt-3">/month</p>
          </div>

          <div class="mb-5">
            <button type="button" class="btn btn-outline-primary">
              Select
            </button>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited</p>
          </div>

          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited storage</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free domain</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free SSL</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Free email</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Daily Backup</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Unlimited bandwidth</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated resources</p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="plan-right">✓&nbsp;</p>
            <p>Dedicated IP Address</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Section Starts -->
<section id="blog">
  <div class="container py-5">
    <h2 class="text-center my-5">Learn our blogs</h2>

    <div class="row g-4">
      <div
        class="col-md-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="0"
      >
        <div class="artical-post">
          <div class="">
            <a href="single-post.html" class="blog-img"
              ><img
                src="{% static 'images/blog2.png'%}"
                alt=""
                class="img-fluid"
            /></a>
          </div>
          <div class="p-4">
            <h3>
              <a href="single-post.html" class="blog-link"
                >Learn and stay updated</a
              >
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              Ipsum has been the industry's standard dummy text ever since
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="300"
      >
        <div class="artical-post">
          <div class="">
            <a href="single-post.html" class="blog-img"
              ><img
                src="{% static 'images/blog1.png'%}"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="p-4">
            <h3>
              <a href="single-post.html" class="blog-link">
                Cloud Data Security
              </a>
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              Ipsum has been the industry's standard dummy text ever since
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="600"
      >
        <div class="artical-post">
          <div class="">
            <a href="single-post.html" class="blog-img"
              ><img
                src="{% static 'images/blog3.png'%}"
                alt=""
                class="img-fluid"
            /></a>
          </div>
          <div class="p-4">
            <h3>
              <a href="single-post.html" class="blog-link">
                More on shared hosting
              </a>
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              Ipsum has been the industry's standard dummy text ever since
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mb-5">
      <button type="button" class="btn btn-outline-primary">Read blogs</button>
    </div>
  </div>
</section>

<!-- FAQ Section Starts -->
<section id="faq">
  <div class="container my-5 py-5">
    <h2 class="text-center mb-5">Frequently asked questions</h2>

    <div
      class="accordion col-md-10 offset-md-1"
      id="accordionPanelsStayOpenExample"
    >
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="0"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            What is web hosting and server exactly?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="200"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            How to know which hosting service provider is best?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="400"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            What are the special features of hosthub?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="600"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour"
          >
            Is there any refund service for buyers?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="800"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFive"
          >
            Basic tips or information to keep in mind?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFive"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
      <div
        class="accordion-item mt-3"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="900"
      >
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSix"
          >
            Basic tips or information to keep in mind?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSix"
        >
          <div class="accordion-body">
            <p>
              Diam orci gravida convallis at enim risus viverra. Hac mi
              tristique in aliquet tincidunt nam lectus nec. Placerat interdum
              auctor facilisi massa laoreet hendrerit posuere a. Tristique
              ultricies consectetu at.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Action Section Starts -->
<section id="action">
  <div class="container my-5 py-5">
    <div
      class="text-center py-5"
      data-aos="fade-up"
      data-aos-easing="ease-in-sine"
      data-aos-delay="600"
    >
      <h6>Free trial</h6>
      <h1 class="text-capitalize mb-3">Try Hosthub for free</h1>
      <p class="">It is very easy to integrate in your site or apps.</p>
      <div class="">
        <button type="button" class="btn btn-primary">
          <span class="btnText">Get started now</span>
          <span class="btnTwo">
            <iconify-icon
              icon="prime:arrow-right"
              class="btn-arrow"
            ></iconify-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
