{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}{{school}}{% endblock %}
<!---->
{% block content %}
<div class="soverview content-wrapper">
  <div class="school-box">
    <div class="school card">
      <h1>{{school.name}}</h1>
      <p>
        {{school.emis_number}} | {{school.district}} | {{school.district.zone}} |
        {{school.district.zone.region}}
      </p>
    </div>
  </div>
  <div class="dextails">
    <div class="tabs-section">
      <div class="tabs-container">
        <div class="tabs">
          <button class="tab" aria-selected="true" id="js">Athletes</button>
          <button class="tab" aria-selected="false" id="ruby">Officials</button>
        </div>
        <div class="content">
          <div class="tabpanel card" aria-labelledby="js">
            <div class="official-list">
              <table id="myTable" class="display">
                <thead>
                  <tr>
                    <th>Names</th>
                    <th>Index Number</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Sport</th>
                    <th>Date of birth</th>
                    {% if user.is_superuser %}
                    <th>Edit</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for athlete in athletes %}
                  <tr>
                    <td>
                      <a href="{% url 'athlete' athlete.id%}"
                        >{{athlete.fname}} {{athlete.lname}}</a
                      >
                    </td>
                    <td>{{athlete.index_number}}</td>
                    <td>{{athlete.nationality}}</td>
                    <td>{{athlete.gender}}</td>
                    <td>{{athlete.sport}}</td>
                    <td>{{athlete.date_of_birth}}</td>
                    {% if user.is_superuser %}
                    <td>
                      <a href="{% url 'updateathlete' athlete.id%}" class="del"
                        ><i class="fa fa-pencil"></i
                      ></a>
                    </td>
                    {% endif %}
                  </tr>

                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tabpanel card" aria-labelledby="ruby" hidden>
            <div class="official-list">
              <table id="myaTable" class="displlay">
                <thead>
                  <tr>
                    <th>Names</th>
                    <th>Role</th>
                    <th>Nin</th>
                    <th>contact</th>
                    <th>Email</th>
                    <th>Gender</th>
                  </tr>
                </thead>
                <tbody>
                  {% for official in officials%}
                  <tr>
                    <td>
                      <a href="{% url 'official' official.id%}"
                        >{{official.fname}} {{official.lname}}</a
                      >
                    </td>
                    <td>{{official.role}}</td>
                    <td>{{official.nin}}</td>
                    <td>{{official.phone_number}}</td>
                    <td>{{official.email}}</td>
                    <td>{{official.gender}}</td>
                  </tr>

                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
