* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  font-style: normal;
  @media (max-width: 500px) {
    font-size: 100%;
  }
}
$color: rgb(0, 10, 117);
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
a {
  text-decoration: none;
  color: $color;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 17px;
}



.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 508px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ad {
  padding: 10px;

  margin: 20px 0;

  img {
    width: 50%;
    border-radius: 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
